
w-page(
  class="w-page pages-statistics"
)
  view(slot="header" class="header")
    van-tabs(active="{{ activeTabIndex }}" bind:change="onChange" color="{{$themColor}}")
      van-tab(
        wx:for="{{ menu_list }}"
        wx:key="id"
        custom-class="van-tab-custom"
        wx:for-index="tabIndex"
        title="{{item.name}}"
      )
        view.rank-list
          view.rank-item(
            class!="{{activeTabIndex==item.id&&activeRankItemIndex==index?'active':''}}"
            wx:for="{{menu_list[tabIndex].menu}}" wx:key="index" wx:for-item="rankItem"
            bindtap="rankItemClick" data-rank-name="{{rankItem.value}}" data-rank-index="{{index}}" data-rank-id="{{rankItem.tag}}")
            text {{rankItem.value}} 
  view(slot="content" class="content")
    view.data-area
      view.title 数据总览
      van-tabs(active="{{ activeNumViewTab }}" type="card" bind:change="onNumViewChange" color="{{$themColor}}")
        van-tab(
          wx:for="{{ numViewTabs }}"
          wx:key="index"
          tab-class="special-tab"
          color="{{$themColor}}"
          title="{{item}}"
        )
          view.data-table
            van-grid(column-num="4"  square wx:if!="{{activeNumViewTab==0&&isPageReady}}")
              van-grid-item(use-slot wx:for="{{ brand_rank }}"  wx:key="gridIndex")
                view.grid-item()
                  text.num {{item.value}}
                  text.text {{item.name}}
            van-grid(column-num="4"  square wx:if!="{{activeNumViewTab==1&&isPageReady}}")
              van-grid-item(use-slot wx:for="{{ host_rank }}" wx:key="gridIndex")
                view.grid-item()
                  text.num {{item.value}}
                  text.text {{item.name}}
  view(slot="footer" class="footer")
