view(class="w-input")
	input(
	    type="{{type}}"
		class="{{disabled ? 'disabled' : ''}}"
	    disabled="{{disabled}}"
	    focus="{{focus}}"
	    value="{{value}}"
	    placeholder="{{placeholder}}"
	    maxlength="{{maxlength}}"
	    placeholder-class="placeholder"
	    bindinput="bindinput"
	    bindfocus="bindfocus"
	    bindblur="bindblur"
		class="{{exclass}}"
		data-growing-track='true'
	)
