view(class="w-picker")
    picker(
        mode="{{mode}}"
        disabled="{{disabled}}"
        bindchange="bindchange"
        bindcancel="bindcancel"
        value="{{value}}"
    )
        view(class="picker-inner")
            view(class="section-box")
                input(
                    disabled="{{true}}"
                    placeholder="战区"
                    placeholder-class="placeholder"
                    value="{{value[0]}}"
                    data-growing-track='true'
                )
            view(class="section-box")
                input(
                    disabled="{{true}}"
                    placeholder="品牌"
                    placeholder-class="placeholder"
                    value="{{value[1]}}"
                    data-growing-track='true'
                )
            view(class="section-box")
                input(
                    disabled="{{true}}"
                    placeholder="部门"
                    placeholder-class="placeholder"
                    value="{{value[2]}}"
                    data-growing-track='true'
                )
            view(class="section-box")
                input(
                    disabled="{{true}}"
                    placeholder="个人"
                    placeholder-class="placeholder"
                    value="{{value[2]}}"
                    data-growing-track='true'
                )