
w-loading(id="w-loading")
w-page(
  class="w-page pages-work-bench"
)
  view(slot="content" class="content")
    scroll-view( scroll-y="true" style="height: 90vh")
      view(class="header")
        view.placebg
        view.left
          view.avator()
            open-data.avator(type="userAvatarUrl" )
          view.activity-info
            view.title
              text 5.1-5.6 【欧派】全国直播
            view.content-info
              text 南通市心心橱柜
              text 南通商场心心旗
            view.name
              text 某某某
        view.right(bindtap="popupShow" data-popup-type="changeActive")
          text.change 活动切换
          w-icon(type="down-orange" size="small")
      view.section.section-1
        view.price-box
          view.price-item
            w-currency(value="100" class="oderPrize")
            text 奖励总额
          view.price-item
            w-currency(value="100" class="oderPrize")
            text 已提取余额
          view.price-item
            w-currency(value="100" class="oderPrize")
            text 罚款金额
          view.price-item
            w-currency(value="100" class="oderPrize")
            text 账户余额
        view.action-list
          view.action-item(bindtap="popupShow" data-popup-type="choosePoster")
            image(src="../../assets/image/icon/haibao.png" mode="widthFix")
            text 推广海报
          view.action-item(bindtap="popupShow" data-popup-type="shopping")
            image(src="../../assets/image/icon/jiedai.png" mode="widthFix")
            text 接待逛店
          view.action-item( bindtap="popupShow" data-popup-type="liveInvite" )
            image(src="../../assets/image/icon/zhibo.png" mode="widthFix")
            text 直播邀请
          view.action-item(bindtap="popupShow" data-popup-type="register")
            image(src="../../assets/image/icon/haibao.png" mode="widthFix")
            text 活动注册码
          view.action-item(bindtap="popupShow" data-popup-type="verification" )
            image(src="../../assets/image/icon/hexiao.png" mode="widthFix")
            text 核销扫码
          view.action-item(bindtap="$routeLink" data-path="order-type-in")
            image(src="../../assets/image/icon/hexiao.png" mode="widthFix")
            text 订单录入
          view.action-item(bindtap="$routeLink" data-path="material-stock")
            image(src="../../assets/image/icon/haibao.png" mode="widthFix")
            text 活动素材库
          view.action-item
            image(src="../../assets/image/icon/hexiao.png" mode="widthFix")
            text 活动管理
      view.section.section-2
        view.active-stage 活动阶段:春暖花开
        view.active-time 春暖花开 2020.4.1 8：00 -2020.4.4 20：00
        view.active-left-time
          text 距离本活动阶段结束还有
          text.time 10
          text 天
          text.time 10
          text 时
          text.time 19
          text 分
      //- 个人区域
      user-acc-view(
        type="{{1}}"
        name="个人"
        expandState="{{true}}"
        viewData="{{userAreaData}}"
      )
      //- 部门
      user-acc-view(
        type="{{2}}"
        name="部门"
        expandState="{{true}}"
        viewData="{{userAreaData}}"
      )
      //-品牌
      user-acc-view(
        type="{{3}}"
        name="品牌"
        expandState="{{true}}"
        viewData="{{userAreaData}}"
      )
      //- 战区
      user-acc-view(
        type="{{4}}"
        name="战区"
        expandState="{{true}}"
        viewData="{{userAreaData}}"
      )
  view(slot="footer" class="footer")

//- 选择活动弹窗
w-popup-module(
  class="w-popup pop-changeActive"
  show="{{popupType=='changeActive'}}"
  type="center"
  closeIcon=""
  closeBottom="true"
  headTitle=""
)
  view(slot="content" class="content")
    view.line1 活动切换
    view.activeListBox
      view.lineItem(wx:for="{{activeList}}" wx:key="index" bindtap="changeActive" data-active-id="{{item.id}}")
        text {{item.name}}
        w-icon(type='right' size='right' wx:if="{{item.id==activeId}}")
    view(class="bottom")
        view.close(bindtap="sureChangeActive") 确定
//- 选择海报弹窗
w-popup(
  class="w-popup popChoosePoster"
  show="{{popupType=='choosePoster'}}"
  type="center"
  name="choosePoster"
  centerBg="#RRGGBB"
  closeIcon="true"
)
  view(slot="content" class="content")
    view.content-in
      view.bigPoster
        swiper.swiper(
          current="{{postCurrent}}"
        )
          block(
            wx:for="{{posterImgs}}"
            wx:key="index"
          )
            swiper-item
              image(
                bindtouchstart='timestart'
                bindtouchend='timeend'
                mode="aspectFill"
                src="{{item.imgUrl}}"
              )
      view.tips() 长按图片发送至朋友圈或保存至相册
      view.smallPoster
        scroll-view(scroll-x="true" style="width: 100%")
          view.smallPosterList
            view.album(
              wx:for="{{posterImgs}}"
              wx:key="index")
              image(src="{{item.imgUrl}}" bindtap="choosePost" data-index="{{index}}" data-type="postCurrent")
//- 接待逛店弹窗
w-popup-module(
  class="w-popup pop-shopping"
  show="{{popupType=='shopping'}}"
  type="center"
  closeIcon="true"
  closeBottom="true"
  headTitle="品牌:欧派"
)
  view(slot="content" class="content")
    view.tips1 逛店二维码
    image(
      src=""
    )
    view.tips2 客户微信扫一扫,完成逛店
//- 直播邀请弹窗
w-popup(
  class="w-popup popChoosePoster"
  show="{{popupType=='liveInvite'}}"
  type="center"
  name="liveInvite"
  centerBg="#RRGGBB"
  closeIcon="true"
)
  view(slot="content" class="content")
    view.content-in
      view.bigPoster
        swiper.swiper(
          current="{{liveCurrent}}"
        )
          block(
            wx:for="{{posterImgs}}"
            wx:key="index"
          )
            swiper-item
              image(
                bindtouchstart='timestart'
                bindtouchend='timeend'
                mode = "aspectFill"
                src="{{item.imgUrl}}"
              )
      view.tips() 长按图片发送至朋友圈或保存至相册2
      view.smallPoster
        scroll-view(scroll-x="true" style="width: 100%")
          view.smallPosterList
            view.album(
              wx:for="{{posterImgs}}"
              wx:key="index")
              image(src="{{item.imgUrl}}" bindtap="choosePost" data-index="{{index}}" data-type="liveCurrent")
//- 注册码弹窗
w-popup-module(
  class="w-popup pop-shopping"
  show="{{popupType=='register'}}"
  type="center"
  closeIcon="true"
  closeBottom="true"
  headTitle="活动注册码"
)
  view(slot="content" class="content")
    view.tips1 逛店二维码
    image(
      src=""
    )
    view.tips2 长按识别二维码注册
//- 核销扫码弹窗
w-popup-module(
  class="w-popup pop-cancel-verification"
  show="{{popupType=='verification'}}"
  type="center"
  closeIcon="true"
  closeBottom="true"
  headTitle="核销"
)
  view(slot="content" class="content")
    view.title 以下两种方式均可使用
    view.input-cancel.box
      view.title-input
        text.line1 1.核销码扫码
        text.line2 输入客户个人中心待核销订单的核销码进行核销
      view.area-input
        input(
            class="input"
            placeholder-class="placeholder"
            maxlength="40"
            text="number"
            bindinput="bindinput"
            placeholder="请输入商品核销码进行核销"
        )
        view.confirm(bindtap="bindconfirm") 确定
    view.scan-cancel.box
      view.area-scan
        view.left
          text.line1 1.扫码核销
          text.line2 点开扫一扫,扫描客户个人中心待核销订单的二维码进行核销
        view.right
          w-icon(type="scan" size="large")
          tetx 扫一扫

//- 奖励弹窗
w-popup(
  class="w-popup reword"
  show="{{popupType=='reword'}}"
  type="center"
  closeIcon="true"
)
  view(slot="content" class="content")
    view.top
      view.item
        text 奖金总额
        text 3000元
      view.item
        text 有效金币总数
        text 3000币
      view.item
        text 当前金币价值
        text 0.15 / 币
    view.center
      view.pic
        image.avator(
          src=""
        )
      view.main-info
        text 某品牌
      view.prize
        text 金币: 30000
        text 预计收入: 4500
    view.bottom
      w-coin-card()
//- 罚款弹窗
w-popup(
  class="w-popup fine"
  show="{{popupType=='fine'}}"
  type="center"
  closeIcon="true"
)
  view(slot="content" class="content")
    view.top
      view.pic
        image.avator(
          src=""
        )
      view.main-info
        text 某品牌
      view.prize
        text 预计罚款:
        w-currency(value="100" class="prize")
    view.line
      view.left
        view.view-num
          text 新客户浏览： 
          text.blue 2 
          text /20 
          view.state 未完成
      view.right
        text 预计罚款:
        w-currency(value="100" class="prize")
    view.line
      view.left
        view.view-num
          text 新客户浏览： 
          text.blue 2 
          text /20 
          view.state 未完成
      view.right
        text 预计罚款:
        w-currency(value="100" class="prize")
    view.line
      view.left
        view.view-num
          text 新客户浏览： 
          text.blue 2 
          text /20 
          view.state 未完成
      view.right
        text 预计罚款:
        w-currency(value="100" class="prize")