w-page(
  class="w-page pages-work-bench"
  showPage="{{showPage}}"
)
  view(slot="content" class="content")
    scroll-view( scroll-y="true" style="height: 90vh")
      view(class="header")
        view.title-info
          view.left
            view.avator()
              open-data(type="userAvatarUrl" )
            view.activity-info
              view()
                tex.name {{rights.name}} 
                text {{rights.position}}
              view.title
                text {{info.start_date}}-{{info.end_date}} {{info.name}}
          view.right(bindtap="popupShow" data-popup-type="changeActive")
            vant-button( type="info" icon='exchange' size="small" round)
              text.change 切换活动
        
        view.price-box
          view.price-item
            w-currency(value="{{fund.reward}}" class="orderPrize")
            text.prize-title 奖励总额
          view.price-item
            w-currency(value="{{fund.recharge}}" class="orderPrize")
            text.prize-title 充值余额
          view.price-item
            w-currency(value="{{fund.punish}}" class="orderPrize")
            text.prize-title 扣罚金额
          view.price-item
            w-currency(value="{{fund.recharge}}" class="orderPrize")
            text.prize-title 已提取金额
        view.can-extract.flex-just-between
            text 可提取金额(元)
            w-currency(value="{{fund.reward}}" class="orderPrize")
      view.section.section-1
        view.action-list
          view.action-item(bindtap="popupShow" data-popup-type="canvasDomPoster" data-data-type="poster")
            image(src="../../assets/image/icon/wall-photo.png" mode="widthFix")
            text 推广海报
          view.action-item(bindtap="popupShow" data-popup-type="shopping")
            image(src="../../assets/image/icon/shopping.png" mode="widthFix")
            text 接待逛店
          view.action-item( bindtap="popupShow" data-popup-type="canvasDomPoster" data-data-type="live")
            image(src="../../assets/image/icon/live-invite.png" mode="widthFix")
            text 直播邀请
          view.action-item(bindtap="popupShow" data-popup-type="register")
            image(src="../../assets/image/icon/activity-sign-in.png" mode="widthFix")
            text 成员注册码
          view.action-item(bindtap="popupShow" data-popup-type="verification" )
            image(src="../../assets/image/icon/scan-code.png" mode="widthFix")
            text 核销扫码
          view.action-item(wx:if="{{rights.type==1||rights.type==0}}" bindtap="$routeLink"  data-path="order-type-in")
            image(src="../../assets/image/icon/order-brand-in.png" mode="widthFix")
            text 订单录入
          view.action-item(bindtap="$routeLink" data-path="material-stock")
            image(src="../../assets/image/icon/material.png" mode="widthFix")
            text 活动素材库
          view.action-item(bindtap="$routeLink"  data-path="num-export")
            image(src="../../assets/image/icon/export.png" mode="widthFix")
            text 数据导出
      view.section.section-live-manger(wx:if="{{is_host}}")
        view.activity-title(
          bindtap="toMiniAPP"
        )
          image.flag(src='../../assets/image/icon/live-manger.png')
          text 主办方管理
      view.section.section-2
        view.activity-title
          image.flag(src='../../assets/image/icon/flag.png')
          text 当前活动阶段
        view.active-stage.bor-bottom 活动阶段: {{period.name}}
        view.active-time.bor-bottom 阶段期限: {{period.start_datetime}} - {{period.end_datetime}}
        view.active-left-time.bor-bottom
          view()
            text 阶段结束倒计时:
            text.time {{activeEndTime.days}}
            text 天
            text.time {{activeEndTime.hours}}
            text 时
            text.time {{activeEndTime.minutes}}
            text 分
            text.time {{activeEndTime.seconds}}
            text 秒
      //- 个人区域
      user-acc-view(
        type="{{1}}"
        identity="0"
        name="个人"
        expandState="{{false}}"
        viewData="{{person}}"
      )
      //- 部门
      user-acc-view(
        type="{{2}}"
        name="部门"
        expandState="{{false}}"
        viewData="{{apartment}}"
      )
      //-品牌
      user-acc-view(
        type="{{3}}"
        name="品牌"
        expandState="{{false}}"
        viewData="{{brand}}"
      )
      //- 战区
      user-acc-view(
        wx:if="{{zone}}"
        type="{{4}}"
        name="战区"
        expandState="{{false}}}"
        viewData="{{zone}}"
      )
      view(style="width:500rpx;height:700rpx;" class='canvas-box')
        canvas(
          type="2d"  style="width:100%;height:100%;"
          id="canvasDomPoster"
        )
  view(slot="footer" class="footer")
//- 选择活动弹窗
w-popup-module(
  class="w-popup pop-changeActive"
  show="{{popupType=='changeActive'}}"
  type="center"
  closeIcon=""
  closeBottom="true"
  headTitle=""
)
  view(slot="content" class="content")
    view.line1 活动切换
    view.activeListBox
      view.lineItem(
        wx:for="{{activeList}}" wx:key="index" bindtap="changeActive" data-active-id="{{item.activity_id}}")
        text {{item.name}}
        w-icon(type='right' size='right' wx:if="{{item.activity_id==activeId}}")
    view(class="bottom")
        view.close(bindtap="sureChangeActive") 确定
//- 选择海报弹窗
w-popup(
  class="w-popup popChoosePoster"
  show="{{popupType=='canvasDomPoster'}}"
  type="center"
  name="choosePoster"
  centerBg="#RRGGBB"
  closeIcon="true"
)
  view(slot="content" class="content")
    view.content-in
      view.bigPoster
        swiper.swiper(
          current="{{postCurrent}}"
        )
          block(
          )
            swiper-item(
            )
              image(
                bindtouchstart='timestart'
                bindtouchend='timeend'
                mode="aspectFill"
                src="{{posterDrawUrl}}"
              )
      view.tips() 长按图片发送至朋友圈或保存至相册
      view.smallPoster
        scroll-view(scroll-x="true" style="width: 100%")
          view.smallPosterList
            view.album(
              wx:for="{{smallPosterList}}"
              wx:key="index")
              image(src="{{item.poster}}" bindtap="choosePost" data-item="{{item}}" data-type="canvasDomPoster")
//- 接待逛店弹窗
w-popup-module(
  class="w-popup pop-shopping"
  show="{{popupType=='shopping'}}"
  type="center"
  closeIcon="true"
  closeBottom="true"
  headTitle="品牌:欧派"
)
  view(slot="content" class="content")
    view.tips1 逛店二维码
    image(
      src="{{view_shop}}"
    )
    view.tips2 客户微信扫一扫,完成逛店
//- //- 直播邀请弹窗
//- w-popup(
//-   class="w-popup popChoosePoster"
//-   show="{{popupType=='canvasDomLive'}}"
//-   type="center"
//-   name="canvasDomLive"
//-   centerBg="#RRGGBB"
//-   closeIcon="true"
//- )
//-   view(slot="content" class="content")
//-     view.content-in
//-       view.bigPoster
//-         swiper.swiper(
//-           current="{{liveCurrent}}"
//-         )
//-           block(
//-             wx:for="{{live_qrcode}}"
//-             wx:key="index"
//-           )
//-             swiper-item
//-                 canvas(
//-                   type="2d"  style="width:100%;height:100%;"
//-                   id="canvasDomLive"
//-                   data-type="canvasDomLive"
//-                   bindtouchstart='timestart'
//-                   bindtouchend='timeend'
//-                 )
//-         view.tips() 长按图片发送至朋友圈或保存至相册777
//-         view.smallPoster
//-           scroll-view(scroll-x="true" style="width: 100%")
//-             view.smallPosterList
//-               view.album(
//-                 wx:for="{{live_qrcode}}"
//-                 wx:key="index")
//-                 image(src="{{item.poster}}" bindtap="choosePost" data-item="{{item}}" data-type="canvasDomLive")
//- 注册码弹窗
w-popup-module(
  class="w-popup pop-shopping"
  show="{{popupType=='register'}}"
  type="center"
  closeIcon="true"
  closeBottom="true"
  headTitle="活动注册码"
)
  view(slot="content" class="content")
    view.tips1 二维码
    image(
      src="{{activeCode}}"
    )
    view.tips2 长按识别二维码注册
//- 群二维码弹窗
w-popup-module(
  class="w-popup pop-shopping"
  show="{{popupType=='groupCode'}}"
  type="center"
  closeIcon="true"
  closeBottom="true"
  headTitle="群二维码"
)
  view(slot="content" class="content")
    //- view.tips1 群二维码
    image(
      src="{{activeCode}}"
    )
    view.tips2 扫码加入群
//- 核销扫码弹窗
w-popup-module(
  class="w-popup pop-cancel-verification"
  show="{{popupType=='verification'}}"
  type="center"
  closeIcon="true"
  closeBottom="true"
  headTitle="核销"
)
  view(slot="content" class="content")
    view.title 以下两种方式均可使用
    view.input-cancel.box
      view.title-input
        text.line1 1.核销码扫码
        text.line2 输入客户个人中心待核销订单的核销码进行核销
      view.area-input
        input(
            class="input"
            placeholder-class="placeholder"
            maxlength="40"
            text="number"
            bindblur="bindblur"
            placeholder="请输入商品核销码进行核销"
        )
        view.confirm(bindtap="bindconfirm") 确定
    view.scan-cancel.box
      view.area-scan
        view.left
          text.line1 1.扫码核销
          text.line2 点开扫一扫,扫描客户个人中心待核销订单的二维码进行核销
        view.right(bindtap="openScan")
          w-icon(type="scan" size="large")
          tetx 扫一扫
//- 选择录单方式
w-popup-module(
  class="w-popup pop-cancel-verification"
  show="{{popupType=='orderTypeIn'}}"
  type="center"
  closeIcon="true"
  closeBottom="true"
  headTitle="选择录单方式"
)
  view(slot="content" class="content")
    view.title 以下两种方式均可使用
    view.input-cancel.box
      view.title-input(bindtap="$routeLink" data-path="order-type-in")
        text.line1 1.手动录入
        text.line2 
      
    view.scan-cancel.box
      view.area-scan
        view.left
          text.line1 1.扫码录单
          text.line2 点开扫一扫,扫描客户个人中心待核销订单的二维码进行核销
        view.right(bindtap="openScan")
          w-icon(type="scan" size="large")
          tetx 扫一扫
//- 选择录单方式
w-popup-module(
  class="w-popup pop-getuser-info"
  show="{{popupType=='getUserInfo'}}"
  type="center"
  closeBottom="true"
)
  view(slot="content" class="content")
    view.word-content
      view.text.title 亲爱的店员,
      view.text 因您没有登录过,现在需要您对小程序进行授权。
    w-authorization.w-authorization(
      bindcallback="getUserInfoEventer"
      type='avatarUrl'
    )
      view(class="user-section" slot="before")
        text 点击授权
      