
w-loading(id="w-loading")
w-page(
  class="w-page pages-work-bench"
)
  view(slot="content" class="content")
    scroll-view( scroll-y="true" style="height: 90vh")
      view(class="header")
        view.placebg
        view.left
          view.avator()
            open-data.avator(type="userAvatarUrl" )
          view.activity-info
            view.title 
              text 5.1-5.6 【欧派】全国直播
            view.content-info
              text 南通市心心橱柜
              text 南通商场心心旗
            view.name 
              text 某某某
        view.right(bindtap="popupShow" data-popup-type="changeActive") 
          text.change 活动切换
          w-icon(type="down-orange" size="small")
      view.section.section-1
        view.price-box
          view.price-item
            w-currency(value="100" class="oderPrize")
            text 奖励总额
          view.price-item
            w-currency(value="100" class="oderPrize")
            text 已提取余额
          view.price-item
            w-currency(value="100" class="oderPrize")
            text 罚款金额
          view.price-item
            w-currency(value="100" class="oderPrize")
            text 账户余额
        view.action-list
          view.action-item(bindtap="popupShow" data-popup-type="choosePoster")
            image(src="../../assets/image/icon/haibao.png" mode="widthFix")
            text 推广海报
          view.action-item(bindtap="popupShow" data-popup-type="shopping")
            image(src="../../assets/image/icon/jiedai.png" mode="widthFix")
            text 接待逛店
          view.action-item( bindtap="popupShow" data-popup-type="liveInvite" )
            image(src="../../assets/image/icon/zhibo.png" mode="widthFix")
            text 直播邀请
          view.action-item(bindtap="popupShow" data-popup-type="register")
            image(src="../../assets/image/icon/haibao.png" mode="widthFix")
            text 活动注册码
          view.action-item(bindtap="popupShow" data-popup-type="verification" )
            image(src="../../assets/image/icon/hexiao.png" mode="widthFix")
            text 核销扫码
          view.action-item(bindtap="$routeLink" data-path="order-type-in")
            image(src="../../assets/image/icon/hexiao.png" mode="widthFix")
            text 订单录入
          view.action-item
            image(src="../../assets/image/icon/haibao.png" mode="widthFix")
            text 活动素材库
          view.action-item
            image(src="../../assets/image/icon/hexiao.png" mode="widthFix")
            text 活动管理
      view.section.section-2
        view.active-stage 活动阶段:春暖花开
        view.active-time 春暖花开 2020.4.1 8：00 -2020.4.4 20：00
        view.active-left-time 
          text 距离本活动阶段结束还有
          text.time 10 
          text 天
          text.time 10
          text 时
          text.time 19
          text 分
      //- 用户区域
      view.section.section-pk
        view.title-1
          view.left 朱婷婷
          view.right
            text 金币排名第
            text.red-word 90
            text 名
            text.action(bindtap="$routeLink" data-path="rank-list?rankType=个人") 查看排行
            text.arrow
        view.section-content
          view.user-kpi
            view.left
              text.user-kpi-title 个人阶段考核
              text 任务完成可奖励
              text.mt10 未完成任务考核
            view.between 
              text 金币总额
              text 预计收益
              text.mt10 预计罚款
            view.right
              view.reword
                view.quantity
                  text.coin-quality 6000币
                  view
                    w-currency(value="100" class="money-quality red-word" type='num')
                    text.red-word 元
                view.arrow
              view.fine
                view.quantity.red-word
                  text -
                  w-currency(value="100" class="money-quality" type='num')
                  text 元
                view.arrow
        view.title-2
          view.left 我的金币
          view.right 
            text.action 员工金币规则
            w-icon(size="small" type="warn")
        //- 我的金币
        view.section-content.myCoin
          view.coinItem
            text.num.font-theme-grey 5人
            text 新客浏览
            text.font-theme-grey 50币
          view.coinItem
            text.num.font-theme-grey 5人
            text 裂变客户
            text.font-theme-grey 50币
          view.coinItem
            text.num.font-theme-grey 5次
            text 分享
            text.font-theme-grey 50币
          view.coinItem
            text.num.font-theme-grey 5户
            text 报名
            text.font-theme-grey 50币
          view.coinItem
            text.num.font-theme-grey 5户
            text 售卡
            text.font-theme-grey 50币
          view.coinItem
            text.num.font-theme-grey 5单
            text 订单
            text.font-theme-grey 50币
          view.coinItem
            text.num.font-theme-grey 5人
            text 进直播间
            text.font-theme-grey 50币
          view.coinItem
            text.num.font-theme-grey 5单
            text 直播订单
            text.font-theme-grey 50币
        //- 我的PK秀
        view.title-2
          view.left 我的PK秀
          view.right 
            text.action 发起PK
            view.arrow
        view.section-content.userPK
          view.PKItem
            view.PKProject PK项目：XXXX
            view.PKStage PK阶段：XXXX
            view.PKView
              view.left.imageBox
                w-icon(class='crown' type='crown' size='xlarge')
                image(src="")
                text.name 婷婷
                text.score 200分
              view.center
                w-icon( type='vs' size='vs')
              view.right.imageBox
                image(src="")
                text.name 多多
                text.score 200分
        //- 我的任务
        view.title-2
          view.left 我的任务
        view.section-content.myJob
          scroll-view(scroll-x="true"  style="width: 100%")
            view.myJobList
              view.jobItem
                van-circle(
                type="2d"
                value='{{30}}' text="" 
                color="#2955FF" layer-color="#919191"
                size="75"
                )
                  slots(class="circle-in-text") 
                    view 88%
                    view 浏览+裂变
                view 2/50
                text 未完成
              view.jobItem
                van-circle(
                type="{{type}}"
                value='{{30}}' text="" 
                color="#2955FF" layer-color="#919191"
                size="75"
                )
                  slots(class="circle-in-text") 
                    view 39%
                    view 浏览+裂变
                view 2/50
                text 未完成
              view.jobItem
                van-circle(
                type="2d"
                value='{{30}}' text="" 
                color="#2955FF" layer-color="#919191"
                size="75"
                )
                  slots(class="circle-in-text") 
                    view 66%
                    view 浏览+裂变
                view 2/50
                text 未完成
              view.jobItem
                van-circle(
                type="2d"
                value='{{30}}' text="" 
                color="#2955FF" layer-color="#919191"
                size="75"
                )
                  slots(class="circle-in-text") 
                    view 30%
                    view 新用户报名
                view 2/50
                text 未完成
              view.jobItem
                van-circle(
                type="2d"
                value='{{30}}' text="" 
                color="#2955FF" layer-color="#919191"
                size="75"
                )
                  slots(class="circle-in-text") 
                    view 30%
                    view 售卡
                view 2/50
                text 未完成
              view.jobItem
                van-circle(
                type="2d"
                value='{{30}}' text="" 
                color="#2955FF" layer-color="#919191"
                size="75"
                )
                  slots(class="circle-in-text") 
                    view 30%
                    view 进入直播间
                view 2/50
                text 未完成
      //- 品牌区域
      view.section.section-pk.section-collpase
        view.title-1
          view.left 某品牌
          view.right
            text 金币排名第
            text.red-word 90
            text 名
            text.action 查看排行
            text.arrow
        view.section-content
          view.user-kpi
            view.left
              text.user-kpi-title 个人阶段考核
              text 任务完成可奖励
              text.mt10 未完成任务考核
            view.between 
              text 金币总额
              text 预计收益
              text.mt10 预计罚款
            view.right
              view.reword
                view.quantity
                  text.coin-quality 6000币
                  view
                    w-currency(value="100" class="money-quality red-word" type='num')
                    text.red-word 元
                view.arrow
              view.fine
                view.quantity.red-word
                  text -
                  w-currency(value="100" class="money-quality" type='num')
                  text 元
                view.arrow
        view.title-2
          view.left 品牌金币
          view.right 
            text.action 品牌金币规则
            w-icon(size="small" type="warn")
        //- 品牌金币
        view.section-content.myCoin
          view.coinItem
            text.num.font-theme-grey 5人
            text 新客浏览
            text.font-theme-grey 50币
          view.coinItem
            text.num.font-theme-grey 5人
            text 裂变客户
            text.font-theme-grey 50币
          view.coinItem
            text.num.font-theme-grey 5次
            text 分享
            text.font-theme-grey 50币
          view.coinItem
            text.num.font-theme-grey 5户
            text 报名
            text.font-theme-grey 50币
          view.coinItem
            text.num.font-theme-grey 5户
            text 售卡
            text.font-theme-grey 50币
          view.coinItem
            text.num.font-theme-grey 5单
            text 订单
            text.font-theme-grey 50币
          view.coinItem
            text.num.font-theme-grey 5人
            text 进直播间
            text.font-theme-grey 50币
          view.coinItem
            text.num.font-theme-grey 5单
            text 直播订单
            text.font-theme-grey 50币
        //- 品牌PK秀
        view.title-2
          view.left 品牌PK秀
          view.right 
            text.action 发起PK
            view.arrow
        view.section-content.userPK(class="{{unfoldStateList[0].state?'active':''}}")
          view.PKItem
            view.PKProject PK项目：XXXX
            view.PKStage PK阶段：XXXX
            view.PKView
              view.left.imageBox
                w-icon(class='crown' type='crown' size='xlarge')
                image(src="")
                text.name 婷婷
                text.score 200分
              view.center
                w-icon( type='vs' size='vs')
              view.right.imageBox
                image(src="")
                text.name 多多
                text.score 200分
          view.PKItem
            view.PKProject PK项目：XXXX
            view.PKStage PK阶段：XXXX
            view.PKView
              view.left.imageBox
                w-icon(class='crown' type='crown' size='xlarge')
                image(src="")
                text.name 婷婷
                text.score 200分
              view.center
                w-icon( type='vs' size='vs')
              view.right.imageBox
                image(src="")
                text.name 多多
                text.score 200分
        view.view-more(bindtap="viewMore" data-index='0' wx:if!="{{!unfoldStateList[0].state}}")
          text 查看更多
        //- 我的任务
        view.title-2
          view.left 我的任务
        view.section-content.myJob
          scroll-view(scroll-x="true" bindscroll="scroll" style="width: 100%")
            view.myJobList
              view.jobItem
                van-circle(
                  type="2d"
                value='{{30}}' text="" 
                color="#2955FF" layer-color="#919191"
                size="75"
                )
                  slots(class="circle-in-text") 
                    view 30%
                    view 进入直播间
                view 2/50
                text 未完成
              view.jobItem
                van-circle(
                  type="2d"
                value='{{30}}' text="" 
                color="#2955FF" layer-color="#919191"
                size="75"
                )
                  slots(class="circle-in-text") 
                    view 30%
                    view 进入直播间
                view 2/50
                text 未完成
              view.jobItem
                van-circle(
                  type="2d"
                  value='{{30}}' text="" 
                  color="#2955FF" layer-color="#919191"
                  size="75"
                )
                  slots(class="circle-in-text") 
                    view 30%
                    view 进入直播间
                view 2/50
                text 未完成
              view.jobItem
                van-circle(
                  type="2d"
                value='{{30}}' text="" 
                color="#2955FF" layer-color="#919191"
                size="75"
                )
                  slots(class="circle-in-text") 
                    view 30%
                    view 进入直播间
                view 2/50
                text 未完成
              view.jobItem
                van-circle(
                  type="2d"
                value='{{30}}' text="" 
                color="#2955FF" layer-color="#919191"
                size="75"
                )
                  slots(class="circle-in-text") 
                    view 30%
                    view 进入直播间
      //- 某部门
      view.section.section-pk.section-collpase
        view.title-1
          view.left 某部门
          view.right
            text 金币排名第
            text.red-word 90
            text 名
            text.action 查看排行
            text.arrow
        view.section-content
          view.user-kpi
            view.left
              text.user-kpi-title 个人阶段考核
              text 任务完成可奖励
              text.mt10 未完成任务考核
            view.between 
              text 金币总额
              text 预计收益
              text.mt10 预计罚款
            view.right
              view.reword
                view.quantity
                  text.coin-quality 6000币
                  view
                    w-currency(value="100" class="money-quality red-word" type='num')
                    text.red-word 元
                view.arrow
              view.fine
                view.quantity.red-word
                  text -
                  w-currency(value="100" class="money-quality" type='num')
                  text 元
                view.arrow
        view.title-2
          view.left 部门金币
          view.right 
            text.action 部门金币规则
            w-icon(size="small" type="warn")
        //- 我的金币
        view.section-content.myCoin
          view.coinItem
            text.num.font-theme-grey 5人
            text 新客浏览
            text.font-theme-grey 50币
          view.coinItem
            text.num.font-theme-grey 5人
            text 裂变客户
            text.font-theme-grey 50币
          view.coinItem
            text.num.font-theme-grey 5次
            text 分享
            text.font-theme-grey 50币
          view.coinItem
            text.num.font-theme-grey 5户
            text 报名
            text.font-theme-grey 50币
          view.coinItem
            text.num.font-theme-grey 5户
            text 售卡
            text.font-theme-grey 50币
          view.coinItem
            text.num.font-theme-grey 5单
            text 订单
            text.font-theme-grey 50币
          view.coinItem
            text.num.font-theme-grey 5人
            text 进直播间
            text.font-theme-grey 50币
          view.coinItem
            text.num.font-theme-grey 5单
            text 直播订单
            text.font-theme-grey 50币
        //- 我的PK秀
        view.title-2
          view.left 部门PK秀
          view.right 
            text.action 发起PK
            view.arrow
        view.section-content.userPK(class="{{unfoldStateList[1].state?'active':''}}")
          view.PKItem
            view.PKProject PK项目：XXXX
            view.PKStage PK阶段：XXXX
            view.PKView
              view.left.imageBox
                w-icon(class='crown' type='crown' size='xlarge')
                image(src="")
                text.name 婷婷
                text.score 200分
              view.center
                w-icon( type='vs' size='vs')
              view.right.imageBox
                image(src="")
                text.name 多多
                text.score 200分
          view.PKItem
            view.PKProject PK项目：XXXX
            view.PKStage PK阶段：XXXX
            view.PKView
              view.left.imageBox
                w-icon(class='crown' type='crown' size='xlarge')
                image(src="")
                text.name 婷婷
                text.score 200分
              view.center
                w-icon( type='vs' size='vs')
              view.right.imageBox
                image(src="")
                text.name 多多
                text.score 200分
        view.view-more(bindtap="viewMore" data-index='1' wx:if!="{{!unfoldStateList[1].state}}")
          text 查看更多
        //- 我的任务
        view.title-2
          view.left 我的任务
        view.section-content.myJob
          scroll-view(scroll-x="true" bindscroll="scroll" style="width: 100%")
            view.myJobList
              view.jobItem
                van-circle(
                  type="2d"
                value='{{30}}' text="" 
                color="#2955FF" layer-color="#919191"
                size="75"
                )
                  slots(class="circle-in-text") 
                    view 30%
                    view 进入直播间
                view 2/50
                text 未完成
              view.jobItem
                van-circle(
                  type="2d"
                value='{{30}}' text="" 
                color="#2955FF" layer-color="#919191"
                size="75"
                )
                  slots(class="circle-in-text") 
                    view 30%
                    view 进入直播间
                view 2/50
                text 未完成
              view.jobItem
                van-circle(
                  type="2d"
                value='{{30}}' text="" 
                color="#2955FF" layer-color="#919191"
                size="75"
                )
                  slots(class="circle-in-text") 
                    view 30%
                    view 进入直播间
                view 2/50
                text 未完成
              view.jobItem
                van-circle(
                  type="2d"
                value='{{30}}' text="" 
                color="#2955FF" layer-color="#919191"
                size="75"
                )
                  slots(class="circle-in-text") 
                    view 30%
                    view 进入直播间
                view 2/50
                text 未完成
      //- 某战区
      view.section.section-pk.section-collpase
        view.title-1
          view.left 某战区
          view.right
            text 金币排名第
            text.red-word 90
            text 名
            text.action 查看排行
            text.arrow
        view.section-content
          view.user-kpi
            view.left
              text.user-kpi-title 个人阶段考核
              text 任务完成可奖励
              text.mt10 未完成任务考核
            view.between 
              text 金币总额
              text 预计收益
              text.mt10 预计罚款
            view.right
              view.reword
                view.quantity
                  text.coin-quality 6000币
                  view
                    w-currency(value="100" class="money-quality red-word" type='num')
                    text.red-word 元
                view.arrow
              view.fine
                view.quantity.red-word
                  text -
                  w-currency(value="100" class="money-quality" type='num')
                  text 元
                view.arrow
        view.title-2
          view.left 战区金币
          view.right 
            text.action 战区金币规则
            w-icon(size="small" type="warn")
        //- 我的金币
        view.section-content.myCoin
          view.coinItem
            text.num.font-theme-grey 5人
            text 新客浏览
            text.font-theme-grey 50币
          view.coinItem
            text.num.font-theme-grey 5人
            text 裂变客户
            text.font-theme-grey 50币
          view.coinItem
            text.num.font-theme-grey 5次
            text 分享
            text.font-theme-grey 50币
          view.coinItem
            text.num.font-theme-grey 5户
            text 报名
            text.font-theme-grey 50币
          view.coinItem
            text.num.font-theme-grey 5户
            text 售卡
            text.font-theme-grey 50币
          view.coinItem
            text.num.font-theme-grey 5单
            text 订单
            text.font-theme-grey 50币
          view.coinItem
            text.num.font-theme-grey 5人
            text 进直播间
            text.font-theme-grey 50币
          view.coinItem
            text.num.font-theme-grey 5单
            text 直播订单
            text.font-theme-grey 50币
        //- 我的PK秀
        view.title-2
          view.left 战区PK秀
          view.right 
            text.action 发起PK
            view.arrow
        view.section-content.userPK(class="{{unfoldStateList[2].state?'active':''}}")
          view.PKItem
            view.PKProject PK项目：XXXX
            view.PKStage PK阶段：XXXX
            view.PKView
              view.left.imageBox
                w-icon(class='crown' type='crown' size='xlarge')
                image(src="")
                text.name 婷婷
                text.score 200分
              view.center
                w-icon( type='vs' size='vs')
              view.right.imageBox
                image(src="")
                text.name 多多
                text.score 200分
          view.PKItem
            view.PKProject PK项目：XXXX
            view.PKStage PK阶段：XXXX
            view.PKView
              view.left.imageBox
                w-icon(class='crown' type='crown' size='xlarge')
                image(src="")
                text.name 婷婷
                text.score 200分
              view.center
                w-icon( type='vs' size='vs')
              view.right.imageBox
                image(src="")
                text.name 多多
                text.score 200分
        view.view-more(bindtap="viewMore" data-index='2' wx:if!="{{!unfoldStateList[2].state}}")
          text 查看更多
        //- 我的任务
        view.title-2
          view.left 我的任务
        view.section-content.myJob
          scroll-view(scroll-x="true" bindscroll="scroll" style="width: 100%")
            view.myJobList
              view.jobItem
                van-circle(
                  type="2d"
                value='{{30}}' text="" 
                color="#2955FF" layer-color="#919191"
                size="75"
                )
                  slots(class="circle-in-text") 
                    view 30%
                    view 进入直播间
                view 2/50
                text 未完成
              view.jobItem
                van-circle(
                  type="2d"
                value='{{30}}' text="" 
                color="#2955FF" layer-color="#919191"
                size="75"
                )
                  slots(class="circle-in-text") 
                    view 30%
                    view 进入直播间
                view 2/50
                text 未完成
              view.jobItem
                van-circle(
                  type="2d"
                value='{{30}}' text="" 
                color="#2955FF" layer-color="#919191"
                size="75"
                )
                  slots(class="circle-in-text") 
                    view 30%
                    view 进入直播间
                view 2/50
                text 未完成
              view.jobItem
                van-circle(
                  type="2d"
                value='{{30}}' text="" 
                color="#2955FF" layer-color="#919191"
                size="75"
                )
                  slots(class="circle-in-text") 
                    view 30%
                    view 进入直播间
                view 2/50
                text 未完成

  view(slot="footer" class="footer")
//- w-tabbar(
//-   tabs="{{$tabs}}"
//-   isLens="{{$isLens}}"
//- )
//- 选择活动弹窗
w-popup-module(
  class="w-popup pop-changeActive"
  show="{{popupType=='changeActive'}}"
  type="center"
  closeIcon=""
  closeBottom="true"
  headTitle=""
)
  view(slot="content" class="content")
    view.line1 活动切换
    view.activeListBox
      view.lineItem(wx:for="{{activeList}}" wx:key="index" bindtap="changeActive" data-active-id="{{item.id}}")
        text {{item.name}}
        w-icon(type='right' size='right' wx:if="{{item.id==activeId}}")
    view(class="bottom")
        view.close(bindtap="sureChangeActive") 确定
//- 选择海报弹窗
w-popup(
  class="w-popup popChoosePoster"
  show="{{popupType=='choosePoster'}}"
  type="right"
  name="choosePoster"
  centerBg="#RRGGBB"
  closeIcon="true"
)
  view(slot="content" class="content")
    view.bigPoster
      swiper.swiper(
        current="{{postCurrent}}"
      )
        block(
          wx:for="{{posterImgs}}"
          wx:key="index"
        )
          swiper-item
            image(
              mode = "aspectFill"
              src="{{item.imgUrl}}"
            )
    view.tips() 长按图片发送至朋友圈或保存至相册
    view.smallPoster
      scroll-view(scroll-x="true" style="width: 100%")
        view.smallPosterList
          view.album(
            wx:for="{{posterImgs}}"
            wx:key="index")
            image(src="{{item.imgUrl}}" bindtap="choosePost" data-index="{{index}}" data-type="postCurrent")
//- 接待逛店弹窗
w-popup-module(
  class="w-popup pop-shopping"
  show="{{popupType=='shopping'}}"
  type="center"
  closeIcon="true"
  closeBottom="true"
  headTitle="品牌:欧派"
)
  view(slot="content" class="content")
    view.tips1 逛店二维码
    image(
      src=""
    )
    view.tips2 客户微信扫一扫,完成逛店
//- 直播邀请弹窗
w-popup(
  class="w-popup popChoosePoster"
  show="{{popupType=='liveInvite'}}"
  type="right"
  name="liveInvite"
  centerBg="#RRGGBB"
  closeIcon="true"
)
  view(slot="content" class="content")
    view.bigPoster
      swiper.swiper(
        current="{{liveCurrent}}"
      )
        block(
          wx:for="{{posterImgs}}"
          wx:key="index"
        )
          swiper-item
            image(
              mode = "aspectFill"
              src="{{item.imgUrl}}"
            )
    view.tips() 长按图片发送至朋友圈或保存至相册2
    view.smallPoster
      scroll-view(scroll-x="true" style="width: 100%")
        view.smallPosterList
          view.album(
            wx:for="{{posterImgs}}"
            wx:key="index")
            image(src="{{item.imgUrl}}" bindtap="choosePost" data-index="{{index}}" data-type="liveCurrent")
//- 注册码弹窗
w-popup-module(
  class="w-popup pop-shopping"
  show="{{popupType=='register'}}"
  type="center"
  closeIcon="true"
  closeBottom="true"
  headTitle="活动注册码"
)
  view(slot="content" class="content")
    view.tips1 逛店二维码
    image(
      src=""
    )
    view.tips2 长按识别二维码注册
//- 核销扫码弹窗
w-popup-module(
  class="w-popup pop-cancel-verification"
  show="{{popupType=='verification'}}"
  type="center"
  closeIcon="true"
  closeBottom="true"
  headTitle="核销"
)
  view(slot="content" class="content")
    view.title 以下两种方式均可使用
    view.input-cancel.box
      view.title-input
        text.line1 1.核销码扫码
        text.line2 输入客户个人中心待核销订单的核销码进行核销
      view.area-input
        input(
            class="input"
            placeholder-class="placeholder"
            maxlength="40"
            text="number"
            bindinput="bindinput"
            placeholder="请输入商品核销码进行核销"
        )
        view.confirm(bindtap="bindconfirm") 确定
    view.scan-cancel.box
      view.area-scan
        view.left
          text.line1 1.扫码核销
          text.line2 点开扫一扫,扫描客户个人中心待核销订单的二维码进行核销
        view.right
          w-icon(type="scan" size="large")
          tetx 扫一扫
