
w-loading(id="w-loading")
w-page(
  class="w-page pages-person"
)
  view(slot="header" class="header")
    view.left
      view.avator
        open-data(type="userAvatarUrl")
      view.welcome
        text HI,
        open-data(type="userNickName" class='nickname')
    view.right
      text 重新登录
      text 更改昵称
  view(slot="content" class="content")
    view.record-title
      text 成单记录
      view.picker-box
        picker(
          bindchange="bindDateChange"
          mode="date" value="{{date}}" start="2015-09-01" end="2017-09-01" 
        ) 2019/01/01
        text 至
        picker(
          bindchange="bindDateChange"
          mode="date" value="{{date}}" start="2015-09-01" end="2017-09-01" 
        ) 2019/01/03
    view(
      class="list-area"
      wx:if!="{{shareHistoryList.length}}"
      wx:for="{{shareHistoryList}}"
      wx:for-index="index"
      wx:key="index"
    )
      view.cart-item
        view.title
          text 订单号: {{item.orderNum}}
          text {{item.date}}
        view.item-area(
          class="{{item.expand? 'expand_':'fold_'}}"
        )
          view.buy-info
            view.name 购买人姓名: {{item.buyerName}}
            view.tel 购买人电话: {{item.buyerPhone}}
            view.total-amount
              text 订单金额: 
              w-currency(value="{{item.orderTotal}}" class="oderPrize")
          view.item(
            wx:if!="{{item.shareList}}"
            wx:for="{{item.shareList}}"
            wx:key="idx"
            wx:for-index="idx"
            wx:for-item="subItem"
          )
            view.box
              image(
              data-path="{{subItem.path}}"
              bindtap="$go"
              mode="aspectFill"
              src="{{subItem.mainImageUrl}}"
              )
            view.box
              view.desc
                view.text {{subItem.productName}}
                view.share-icon
                  image(
                    src=""
                  )
                //- text 尺码：{{item.size}}
              view.currency-quantity
                w-currency(value="{{subItem.salesPrice}}" class="currency")
          view.expand.abs(
            data-index ="{{index}}"
            wx:if="{{item.expand}}"
            bindtap="expandEventer"

          )
            view.tap-area
              image(
                class
                src="../../assets/image/icon/up.png"
              )
          view.expand(
            wx:else
            data-index ="{{index}}"
            bindtap="expandEventer"
          )
            view.tap-area  
              image(
                src="../../assets/image/icon/down.png"
            )

  view(slot="footer" class="footer")
van-popup(
  z-index = '9999'
  closeable
  position="center"
  data-type = "setNickNameShow"
  show="{{ setNickNameShow }}" 
  bind:close="closePopup"
)
  view.content
    view.title  设定昵称
    input.nickInput( 
      placeholder-class="inputStyle"
      auto-focus placeholder="请输入昵称" value="{{nickname}}"
      bindinput="nickNameInput"
    )
    view.button-box
      w-button(
        data-type = "setNickNameShow"
        bindtap="closePopup"
      ) 取消
      w-button(
      ) 确定
van-popup(
  z-index = '9999'
  closeable
  position="center"
  closeOnClickOverlay="{{closeOnClickOverlay}}"
  show="{{ outLoginShow }}" 
  class="outLogin"
  data-type = "outLoginShow"
  bind:close="closePopup"
)
  view.content
    view.comfirm 确定要退出登录吗？
    view.button-box
      w-button(
        data-type = "outLoginShow"
        bindtap="closePopup"
      ) 取消
      w-button(
        bindtap="outLogin"
      ) 确定
      
  
