
w-loading(id="w-loading")
w-page(
  class="w-page pages-change-passworld"
)
  view(slot="header" class="header")
    view.image-box
        image.header-image(
          src='../../assets/image/zegna_black_logo.png'
        )
    view.title-header 修改密码
  view(slot="content" class="content")
    view.input-area
      form.form(
        bindsubmit="submitEventer"
        report-submit="true"
      )
        view.section
          view.label 原密码
          input.cacode( 
            name="code"
            password
            data-type ="oldPass"
            auto-focus placeholder="" value="{{account.oldPass}}"
            bindinput="inputEventer"
          )
        view.section
          view.label 新密码
          input.cacode( 
            password
            data-type ="newPass"
            name="passworld"
            bindinput="inputEventer"
            auto-focus placeholder="" value ="{{account.newPass}}" 
            )
        view.section
          view.label 再次输入新密码
          input.cacode( 
            password
            data-type ="againPass"
            bindinput="inputEventer"
            auto-focus placeholder="" value ="{{account.againPass}}" 
            )
        view.button-box
          button(
            class="submit"
            text=""
            formType="submit"
          ) 确认修改
  view(slot="footer" class="footer")
