view(class="tab-bar")
  view(
    class="tab-bar-border"
  )
  view(
    wx:for="{{list}}"
    wx:key="index"
    class="tab-bar-item {{activeIndex == index ? 'active' : ''}}"
    data-index="{{index}}"
    data-url="{{item.pagePath}}"
    bindtap="switchTab"
  )
    view(
      class="tab-bar-icon"
    )
      image(
        class="image"
        hidden="{{activeIndex == index}}"
        src="{{item.iconPath}}"
      )
      image(
        class="image"
        hidden="{{activeIndex != index}}"
        src="{{item.selectedIconPath}}"
      )
    view(
      class="tab-bar-text"
    ) {{item.text}}
