
w-page(
  class="w-page pages-short-message-material"
)
  view(slot="content" class="content")
    view.add-material
      view.add-box.flex-align-center(data-path='add-material'
      bindtap="$routeLink" )
        vant-icon(name="add-o" color="#fff" size="25px")
        text 添加短信素材
    view.message-list
      view.message-item.flex-dire-column
        view.top.flex-just-between
          view.left.flex-align-center 
            image(src="../../assets/image/icon/short-message.png")
            text.title 2020-04-23
        view.center
          view.mess dfhje不淋不到凤凰网if烘干her文化宫花覅无法的还是发好和龟儿哈个一是红日VBHRif
        view.bottom.flex-just-end
          vant-button( type="default"  round="{{true}}"
          data-path='income-detail?type=live'
          size="small"
          bind:click="$routeLink" 
          )
            text 删除
          vant-button( type="default"  round="{{true}}"
          size="small"
          data-path='income-detail?type=live' color="{{$themColor}}" 
          bind:click="$routeLink" 
          )
            text 删除
      view.message-item.flex-dire-column
        view.top.flex-just-between
          view.left.flex-align-center 
            image(src="../../assets/image/icon/short-message.png")
            text.title 2020-04-23
        view.center
          view.mess dfhje不淋不到凤凰网if烘干her文化宫花覅无法的还是发好和龟儿哈个一是红日VBHRif
        view.bottom.flex-just-end
          vant-button( type="default"  round="{{true}}"
          data-path='income-detail?type=live'
          size="small"
          bind:click="$routeLink" 
          )
            text 删除
          vant-button( type="default"  round="{{true}}"
          size="small"
          data-path='income-detail?type=live' color="{{$themColor}}" 
          bind:click="$routeLink" 
          )
            text 编辑
    
  view(slot="footer" class="footer")
