view.inputBox
	input.input(
		class="{{isfocus?'':'broaden'}}"
	    type="text"
	    disabled="{{disabled}}"
	    focus="{{focus}}"
	    value="{{value}}"
	    placeholder="{{placeholder}}"
	    maxlength="{{maxlength}}"
	    placeholder-class="placeholders_"
		confirm-type = "search"
	    bindinput="chageEventer"
		bindconfirm="searchEventer"
	    bindfocus="focusEventer"
	    bindblur="blurEventer"
	)
	text(
		bindtap = "searchEventer"
		wx:if= "{{isfocus}}"
	) 取消

	view.searchIcon
		image.iconImg(
			src='../../assets/image/icon/search.png'
		)
