
w-loading(id="w-loading")
w-page(
  class="w-page pages-rank-list"
)
  view(slot="header" class="header")
    view.top-title
      view.title {{rankType}}排行榜
      image(src="../../assets/image/icon/cup.png")
    view.top-info
      view.section.section-1
        text.time {{timeTitle.start_datetime}} - {{timeTitle.end_datetime}}
      van-dropdown-menu.van-dropdown-menu(active-color="#ffbe97" )
        van-dropdown-item(value="{{ stepValue }}"  options="{{ stepList }}" title="{{timeTitle.text}}" bind:change="timeChangeEventer" )
      view.section.section-2
        view.search-input
          van-search(custom-class="custom-class" value="{{searchValue}}" placeholder="员工姓名或品牌名称" use-right-icon-slot="{{false}}" bind:search="filterBySearch")
        view.rule-title(bindtap="popupShow" data-popup-type="rewordRule" )
          text 奖励规则
          w-icon(type="question" size="normal")
  view(slot="content" class="content")
    view.line.content-title()
      view.item
        text.prizeTitle 奖金总额
        text.prize {{total_reward}}元
      view.item
        text.prizeTitle 有效金币总数
        text.prize {{total_point}}币
      view.item
        text.prizeTitle 当前金币价值
        text.prize {{per_point}}/币
    scroll-view(scroll-y="true" style="height: 60vh")
      view.person-list(wx:for="{{list}}" wx:key="personIndex" wx:for-index="personIndex")
        view.line
          view.rank
            text {{personIndex+1}}
          view.avator
            w-image(url='{{item.avatar}}' bindload="bindImgLoad") 
          view.main-info
            text.name {{item.name}}
            text {{item.cat_name}}
            text 金币：{{item.point}}
          view.income
            text 预计收入：{{item.reward_total}}
            view.view-num(bindtap="collapseEventer" data-index="{{personIndex}}")
              text() 查看数据
              w-icon(type="down-blue" size="smaller" class!="down-blue {{personIndex==expandIndex?'active':''}}" )
        view.num-box( class="{{personIndex==expandIndex?'show':''}}")
          view.num-box-in
            view.num-item(wx:for="{{item.my_record}}" wx:key="itemIndex" wx:for-index="key" wx:for-item="detailItem")
              text {{detailItem.count}}人
              text {{detailItem.name}}
              text {{detailItem.point_count}}{{detailItem.unit}}
             
  view(slot="footer" class="footer")
//-奖励规则弹窗
w-popup-module(
  class="w-popup pop-reword-rule"
  show="{{popupType=='rewordRule'}}"
  type="center"
  closeIcon="true"
  closeBottom="true"
  headTitle="奖励规则"
)
  view(slot="content" class="content")
    view.line(wx:for="{{ruleList}}" wx:key="index")
      text {{item.index}}. 
      text {{item.line}}