
w-page(
  class="w-page pages-message-detail"
)
  view(slot="header" class="header")
  view(slot="content" class="content")
    view.message-detail-list
      view.item-box(wx:for="{{messageList}}" wx:key="index")
        w-item-box.w-item-box()
          view.left(slot="left")
            image(src="{{item.u_user_info.avatar}}")
          view.center(slot="center" centerWidth="500")
            text.customer-name 发起PK者：{{item.u_user_info.name}}
            text.customer-name 被PK者：{{item.b_user_info.name}}
            text.customer-tel 阶段：{{item.period_info.name}}
            text.invite-name 项目：{{item.pk_type}}
            text.line-price
              text 金额：
              text.price {{item.amount}}元
          view(slot="right" style="width:130rpx;")
            view.right.flex-dire-column(wx:if!="{{user_id==item.user_id}}")
              vant-button(type="info" size="mini"
                wx:if="{{item.status==0}}" custom-class="detail-btn"
                  color="${{themColor}}" data-id="{{item.id}}" 
                  data-action="cancel" bind:click="acceptEventer"
                )
                  text 取消
            view(wx:elif!="{{user_id!=0||user_id!=item.user_id}}")
              vant-button( type="info"  plain="plain" size="mini"
              custom-class="detail-btn" color="${{themColor}}" 
              data-id="{{item.id}}" 
              wx:if="{{item.status!=2}}" bind:click="acceptEventer"
              data-action="refuse"
              )
                text 拒绝
              vant-button( type="info" size="mini"
              wx:if="{{item.status!=1}}" custom-class="detail-btn"
                color="${{themColor}}" data-id="{{item.id}}" 
                data-action="agree" bind:click="acceptEventer"
              )
                text 接受
              
          view.bottom-time.flex-just-between(slot="bottom")
            text.time 发起时间：{{item.pk_time}}
            text.status(wx:for="{{stateList}}" wx:key="statusIndex" wx:for-item="statusItem" wx:if="{{statusItem.status==item.status}}") 状态：{{statusItem.text}}
            
  view(slot="footer" class="footer")
