
w-page(
  class="w-page pages-message-detail"
)
  view(slot="header" class="header")
  view(slot="content" class="content")
    view.message-detail-list
      view.item-box(wx:for="{{messageList}}" wx:key="index")
        w-item-box.w-item-box()
          view.left(slot="left")
            image()
          view.center(slot="center" centerWidth="500")
            text.customer-name 客户姓名：{{item.stage_name}}
            text.customer-tel 阶段：{{item.stage_name}}
            text.invite-name 项目：{{item.type_name}}
            text.belong-name 金额：{{item.amount}}
            text 浏览时间：{{item.time}}
          view.right.flex-dire-column(slot="right")
            vant-button( type="info" round="{{true}}"
             wx:if="{{item.status!=1}}" custom-class="detail-btn"
              color="${{themColor}}" data-id="{{item.id}}" 
              data-action="agree" bind:click="acceptEventer"
            )
              text 接受
            vant-button( type="info" round="{{true}}" plain="plain" 
            custom-class="detail-btn" color="${{themColor}}" 
            wx:if="{{item.status!=2}}" bind:click="acceptEventer"
             data-action="refuse"
            )
              text 拒绝

  view(slot="footer" class="footer")
