
w-loading(id="w-loading")
w-page(
  class="w-page pages-remote-history"
)
  view(slot="header" class="header")
  view(slot="content" class="content" )
    //- view.tab-area
    //-   view.tab(
    //-     data-index="0"
    //-     bindtap="tabEventer"
    //-   )
    //-     text.tab1(class="{{tabIndex == 0?'active':''}}") 推荐历史
    //-   view.tab(
    //-     data-index="1"
    //-     bindtap="tabEventer"
    //-   )
    //-     text.tab2(class="{{tabIndex == 1?'active':''}}") 指导推荐
            
            bindfocus="focusEventer"
            bindinput="inputEventer"
    view.history-list
      view.inputBox
        input.input(
            type="text"
            disabled="{{disabled}}"
            value="{{inputValue}}"
            placeholder="输入单号搜索"
            maxlength="30"
            placeholder-class="placeholders_"
            confirm-type = "search"
            bindconfirm="confirmEventer"
        )
        view.searchIcon
          image.iconImg(
            src='../../assets/image/icon/search.png'
          )
        view.picker-area
          picker(
            mode ="date"
            value ="{{time.from}}"
            start="2015-09-01" end="2017-09-01"
            data-type="from"
            bindchange="bindDateChange"
          ) {{time.from}}
          text 至
          picker(
            mode ="date"
            value ="{{time.to}}"
            data-type="to"
            start="2015-09-01" end="2017-09-01"
            bindchange="bindDateChange"
          ) {{time.to}}
          
      view(
        class="list-area"
        wx:if!="{{shareHistoryList.length&&tabIndex==0}}"
        wx:for="{{shareHistoryList}}"
        wx:for-index="index"
        wx:key="index"
      )
        view.cart-item
          view.title
            text 订单号: {{item.recommendedNo}}
            text {{item.createdDate}}
          view.item-area(
            class="{{item.expand? 'expand_':'fold_'}}"
          )
            view.shareDetail-btn(
              data-order-num ="{{item.recommendedNo}}"
              bindtap="viewShareDetail"
            ) 查看分享详情
            view.item(
              wx:if!="{{productList&&item.expand}}"
              wx:for="{{productList}}"
              wx:key="idx"
              wx:for-index="idx"
              wx:for-item="proItem"
            )
              view.box
                image(
                mode="aspectFill"
                src="{{proItem.images[0]}}"
                )
              view.box
                view.desc
                  view.text {{proItem.name}}
                  //- view.share-icon
                  //-   image(
                  //-     src=""
                  //-   )
                  //- text 尺码：{{item.size}}
                view.currency-quantity
                  w-currency(value="{{proItem.price}}" class="currency")
            view.expand.abs(
              data-index ="{{index}}"
              data-expand ="{{item.expand}}"
              data-product-ids ="{{item.productId}}"
              wx:if="{{item.expand}}"
              bindtap="expandEventer"

            )
              view.tap-area
                image(
                  class
                  src="../../assets/image/icon/up.png"
                )
            view.expand(
              wx:else
              data-product-ids ="{{item.productId}}"
              data-expand ="{{item.expand}}"
              data-index ="{{index}}"
              bindtap="expandEventer"
            )
              view.tap-area  
                image(
                  src="../../assets/image/icon/down.png"
              )
 
  w-tabbar(
    tabs="{{$tabs}}"
    isLens="{{$isLens}}"
  )
  w-loading(
      show="{{$loading.show}}"
      text="{{$loading.text}}"
  )
van-popup(
  z-index = '9999'
  closeable
  close-icon-position="top-right"
  show="{{ popupShow }}" 
  bind:close="onClose"
)
  view.content
    view.close(
      bindtap="onClose"
    )
      image(
        src="../../assets/image/icon/close.png"
      )
    view.title 
      view.grid 客人昵称
      view.grid 最后打开时间
      view.grid 打开次数
    view.line-content
      view.line(
        wx:for ="{{viewList}}"
        wx:for-index="index"
        wx:key="index"
        )
        text {{item.memberNickname}}
        text {{item.visitDate}}
        text {{item.visitCount}}
 
  
  view(slot="footer" class="footer")