
w-loading(id="w-loading")
w-page(
  class="w-page pages-remote-list"
)
  view(slot="header" class="header")
      //- view.title
      
      
  view(slot="content" class="content")
    view.tab-area
      view.tab(
        data-index="0"
        bindtap="tabEventer"
      )
        text.tab1(class="{{tabIndex == 0?'active':''}}") 推荐历史
      view.tab(
        data-index="1"
        bindtap="tabEventer"
      )
        text.tab2(class="{{tabIndex == 1?'active':''}}") 指导推荐
    view.tab1-area(
      wx:if!="{{productList.length&&tabIndex == 0}}"
    )
      view.share-btn
        button(
          bindtap="toEcMiniProgram"
        ) 发送分享单
      view(
        class="list-area"
        wx:for="{{productList}}"
        wx:key="index"
        index="{{index}}"
      )
        view.cart-item
          view.item
            view.box
              image(
              data-path="{{item.path}}"
              bindtap="$go"
              mode="aspectFill"
              src="{{item.mainImageUrl}}"
              )
            view.box
              view.desc
                view.text {{item.productName}}
                view.share-icon
                  image(
                    src="../../assets/image/icon/icon-deleteProduct.png"
                  )
                //- text 尺码：{{item.size}}
              view.currency-quantity
                w-currency(value="{{item.salesPrice}}" class="currency")
      view.del-btn 
        text 清空列表
    view.tab2-area(
      wx:if!="{{tabIndex == 1}}"
    )
      view.direction-remote(
      )
        view.item
          view.title
            text 我独自走在郊外的田野上
          view.remotelist-image
            image(

            )
            image(

            )
            image(

            )
            image(

            )
            image(

            )
        view.item
          view.title
            text 要把糕点带给外婆尝一尝
          view.remotelist-image
            image(

            )
  w-tabbar(
    tabs="{{$tabs}}"
    isLens="{{$isLens}}"
  )
  w-loading(
      show="{{$loading.show}}"
      text="{{$loading.text}}"
  )
  view(slot="footer" class="footer")